
div[data-role='header']{
    font-size: 1.1em !important;
}

img{
    width: 100%;
}

.ui-header, .ui-title{
    margin: 0 !important;
}

div [data-role="header"]{
    font-size: 1.5em;
}


.ui-footer{
    position: absolute !important;
    bottom: 20%;
    width: 100%;
}
div.ui-footer.ui-bar-inherit{
    border: none;
    max-height: 1%;
    background-color: black;

}

#result p{
    color: #004056;
}

#result p>span{
    font-style: italic;
    color: #FFFFFF;
}

div#service[data-role=page]{
    height: 100% !important;
    position:relative !important;
}

div#service div[data-role=content]{
    padding: 0;
}

#service>div[data-role=footer],
#damage>div[data-role=footer]
{
    position:fixed !important;
    bottom:0;
    top: auto !important;
    width:100%;
    min-height: 20%;
    background-color: #004056;
    overflow: scroll;

}

#damage>div[data-role=footer]
{
    min-height: 7%;
    padding: 2% 2% 2% 2%;
    font-size: 0.7em;
    text-align: center;
}

#damage>div[data-role=footer] a{
    font-size: 0.9em;
}

#service>div[data-role=footer]>ul{
    list-style-type: none;
    padding: 0;
    margin-left: 2%;
}

#my_coord{
    position: fixed;
    top: 9%;
    right: 3%;
    max-width: 20%;
    height: 5%;
    font-size: 0.6em;
    z-index: 1000;
}

.gm-style-iw {
    color: #004056;
}

#damage ol
{
    padding: 0;
    margin-left: 2%;
}

.img150x300{
    width: 60px;
    height: 120px;
}

.img150x300_big{
    width: 150px !important;
    height: 300px !important;
}

.img_two_in_column {
    width: 100px;
    height: 48px;
}

.img300x145
{
    width: 200px;
    height: 97px;
}

p.centered_img{
    text-align: center;
}

.img300x145_big
{
    width: 300px !important;
    height: 145px !important;
}

.img200x292
{
    width: 80px;
    height: 117px;
}

.img200x292_big{
    width: 200px !important;
    height: 292px !important;
}

.img300x309{
    width: 100px;
    height: 103px;
}

.img300x309_big{
    width: 300px !important;
    height: 309px !important;
}

.img_float_left{
    float: left;
    margin-right: 10px;
}

.img300x291{
    width: 100px;
    height: 97px;
}

.img300x291_big{
    width: 300px !important;
    height: 291px !important;
}
